
@font-face {
    font-family: 'italianaregular';
    src: url('./font-f/italiana-regular-webfont.woff2') format('woff2'),
         url('./font-f/italiana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    margin:0px;
    padding:0px;box-sizing: border-box;
}
body{
    width:1350px;
    height:auto;
    margin:auto;
    background-color: #fff;
}
.navigation a {
    text-decoration: none;
  }
  .navigation li {
    list-style: none;
  }
  .fa-caret-down:before
  {
    padding-left: 10px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #fff;
    height: 70px;
    position: fixed;
    width: 100%;
    padding: 0px 38px;
  }
  .nav {
    display: flex;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    gap: 22px;
  } 
  .nav li {
    padding: 5px 14px;
  }
  .navigation img 
  {
      width: 167px;
  }
  li.last-icons a {
    border-bottom: 1px solid #000;
    padding: 0px 0px 5px 0px;
}
  .nav-lists a {
    color: #000;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
  }
  .nav-lists a:hover{
  color: #777777;
  }
  .checkbtn {
    display: none;
    font-size: 25px;
    user-select: none;
    background: #6E896A;
      padding: 13px;
      border-radius: 100%;
      margin: 4px;
  }
  input[type=checkbox] {
    display: none;
  }
  .last-icons:hover{
      text-decoration: underline;
  }
  i.fa.fa-shopping-cart {
    font-size: 30px;
}
i.fa.fa-navicon 
{
    font-size: 30px;
}
  
.banner-img {
        background: #eee;
        background-image: url('./images/fl-0.png');
        padding: 180px 0px 0px 0px;
        height: 864px;
        width: 94%;
        margin: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 27% auto;
        background-position: top right;
    }
.banner-img h1
{
    
    color: #000;
    font-size: 100px;
    padding-top: 20px;
    font-family: 'italianaregular';
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}
.banner
{
background-image: url('./images/parallax-02.jpg');
width:98%;
margin:auto;
height:650px;
background-size: cover;
}
.banner h1
{
    color: #fff;
    font-size: 100px;
    padding-top: 20px;
    font-family: 'italianaregular';
    text-align: center;
    letter-spacing: 1px;
}
/* <!2------> */
.card-sec
{
    display: flex;
    justify-content: space-around;
    margin-top: 15rem;
    margin-bottom: 6rem;
    flex-direction: row;
}
.card1 h3 {
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0px;
    line-height: 14px;
    color:#000;
    font-family: 'italianaregular';
}
.card1 p
{
    font-size: 14px;
    font-weight: 400;
    color:#333;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}
.card1 
{
    text-align: center;
}
/* <!3------> */
.img-sec
{
    display: flex;
    justify-content: space-around;
    margin:0px 25px;
    flex-direction: row;
    
}
.img-content img {
    width: 93%;
    height: 70%;
}
.img-content h6
{
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 2px;
    padding-top:25px;
    text-align: center;
    font-family: 'italianaregular';
}
.img-content h3{
    color: #000;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
    padding-top:5px;
    font-family: 'italianaregular';
}
/* <!4------> */
.prise img {
    height: 550px;
    background-size: cover;
    width: 100%;
    margin-top: 85px;
}
.custom-price
{
    background-image: url('./images/fl-1.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 376px auto;
    opacity: 1;
    margin: 0px 50px;
    display: flex;
    justify-content: space-around;
}
.custom-content
{
    width: 100%;
    background: #eee;
    background-image: url('./images/fl-1.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 376px auto;
    opacity: 1;
    margin-left: -13em;
    z-index: -1;
    padding: 98px 0px 80px 58px;
}
.custom-content h6
{
    color: #000;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-family: 'italianaregular';
    padding-left: 20rem;
}
.custom-content h1
{
    color: #000;
    font-family: 'italianaregular';
    font-size: 50px;
    padding: 12px 0px;
    font-weight: 400;
    padding-left: 20rem;
    line-height: 1.2em;
}
.starting-form{
    display: flex;
    justify-content: space-between;
    color: #000;
    font-family: 'italianaregular';
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5em;
}
.priseA
{
    color: #000;
    font-family: 'italianaregular';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5em;
}
.prizes {
    padding-bottom: 35px;
    padding-left: 20em;
}
.prize-text
{
    font-size: 14px;
    padding-top: 10px;
    color: #777777;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}
/* <!5------> */
.flower-sec {
    margin-top:100px;
}
.fresh-flr h6 {
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #000;
    font-family: 'italianaregular';
}
.fresh-img h6 {
    padding-bottom: 20px;
}
.fresh-flr h1 
{
font-size: 50px;
font-weight: 400;
text-align: center;
color: #000;
line-height: 1.2em;
font-family: 'italianaregular';
}
.flower-images {
    display: flex;
    margin: 50px 0px;
}
.fresh-img img {
    width: 100%;
}
.fresh-img {
    text-align: center;
}
.fresh-img h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 12px;
    font-family: 'italianaregular';
}
.detail-btn
{
font-size: 12px;
font-weight: 400;
text-decoration: underline;
padding-top:20px;
color:#6E896A;
font-family: 'italianaregular';
letter-spacing: 2px;
}
/* <!-----> */
.florist-sec {
    background: #eee;
    padding: 115px 18px 65px 25px;
    width: 89%;
    margin: auto;
    background-image: url('./images/fl-2.png');
    background-size: 58% auto;
    background-repeat: no-repeat;
    background-position:bottom left;
    margin-bottom:90px;
    height: auto;
}
    .florist-content h6
    {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-family: 'italianaregular';
    }
    .florist-content {
        padding-top: 60px;
    }
    .florist-content h1
    {
    color: #000;
    font-family: "Italiana", Sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-family: 'italianaregular';
    line-height: 1.2em;
    }
    .florist-text
    {
         display: flex;
         justify-content: space-between;
         padding: 25px 0px;
         border-bottom: 1px solid #CCCCCC;
    }
    .florist-content p {
        font-size: 16px;
        padding-top: 25px;
        font-family:"Montserrat", Sans-serif;
        color: #aaa;
    }
    .florist-text h4
    {
    color: #000;
    font-family: 'italianaregular';
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5em;
    }
    .form-group {
        display: flex;
        justify-content: space-around;
    }
    .form-sec
    {
        background-color: #6E896A;
        background-image: url('./images/fl-3.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 110px auto;
        opacity: 1;
        width: 55%;
        height: 490px;
    }
.form-sec h6{
    text-align: center;
    color: #fff;
    padding-top: 70px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family:"Montserrat", Sans-serif;
}
.form-sec h1{
    text-align: center;
    color: #fff;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'italianaregular';
}
.small-form
{
    text-align: center;
}
.small-form input{
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #CCCCCC;
    border-radius: 0px 0px 0px 0px;
    width: 80%;
    color: #fff !important;;
    padding: 18px 0px;
}
::placeholder
{
    color:#fff;
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}
textarea#message 
{
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #CCCCCC;
    border-radius: 0px 0px 0px 0px;
    width: 80%;
    padding: 25px 0px;
    color: #fff;
    
}
input[type="submit"]
{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #6E896A;
    border-style: none;
    border-radius: 40px 40px 40px 40px;
    padding: 15px 30px 15px 30px;
    width: 80%;
}
/* <!------ */
.container
{
    width:100%;
    margin:auto;
    max-width: 1280px;
}
/* <!-- */
/* <!----- */
.spring-super
{
    background-image: url('./images/parallax-04.jpg');
    background-size: cover;
    background-position: center;
    width:70%;
    height:300px;
    margin:auto;
}
.offers
{
    background-color: #6E896A;
    width:43%;
    float:right;
    height:218px;
    text-align: center;
    margin:44px;
    color:#fff;
    padding:50px;
}
.offers h2{
    font-family: 'italianaregular';
    font-size: 35px;
    font-weight: 400;
    line-height: 1.3em;
}
.offers p{
   
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3em;
    padding:12px 0px;
    font-family: "Montserrat", Sans-serif;
}
.offers a{
 
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: 1.5px;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Montserrat", Sans-serif;
}
.creations
{
    background: #eee;
    width:90%;
    margin:auto;
    height:550px;
    text-align: center;
    background-image: url('./images/fl-5.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 343px auto;
}
.creations h6
{
    font-family: 'italianaregular';
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
    color: #000; 
    padding-top: 10em;
}
.creations h1
{
font-size: 50px;
font-weight: 400;
text-align: center;
color: #000;
line-height: 1.2em;
padding-bottom: 20px;
font-family: 'italianaregular';
}
.img img {
    width: 15%;
    padding: 12px;
}
.bouquits
{
background-image: url('./images/parallax-06.jpg');
background-size: cover;
background-position: center;
width:90%;
height:450px;
margin:auto;
margin-top: 50px;
}
.perfect {
    background: #00000036;
    width: 100%;
    height: 100%;
    opacity: 1;
    font-size: 100px;
    text-align: center;
    font-family: 'italianaregular';
    color:#fff;
    padding-top:8rem;
    line-height: 8rem;
}
/* <!---logoes--> */
.logoes
{
    width:100%;
    margin:auto;
    text-align: center;
}
.logoes img{
        width: 23%;
        padding: 44px;
        padding-top: 55px;
}
/* <!----- */
.footer-sec
{
    background-color: #F1EFEC;
    width:90%;
    margin: auto;
    background-image: url('./images/fl-6.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 295px auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    padding-top: 6em;
}
.footer-sc h2
{
color: #000;
font-family: "Italiana", Sans-serif;
font-size: 25px;
font-family: 'italianaregular';
font-weight: 400;
line-height: 1.5em;}
.footer-sec h2
{
color: #000;
font-family: 'italianaregular';
font-size: 25px;
font-weight: 400;
line-height: 1.5em;
padding-left: 16px;
}
.footer-sec p
{
color: #8A7E8C;
font-size: 14px;
font-weight: 400;
line-height: 1.5em;
padding-top: 10px;
font-family: 'Montserrat', sans-serif;
}
.social-icons i{
    font-size: 22px;
    padding:20px 20px 0px 0px;
}
.footer-sec2 ul {
    list-style: none;
    font-size: 14px;
    color:#8A7E8C;
    font-family: 'Montserrat', sans-serif;
}
.footer-sec2 ul li{
    padding: 2px 0px;
}
i.fa.fa-check {
    font-size: 10px;
    font-weight: 300;
    padding: 0px 10px;
}
.timimg-group {
    margin-right: 42px;
}
@media (max-width: 1199px) and (min-width: 767px) {
    .navigation
    {
        width:100%;
        height:100px;
        padding: 0px 40px;
    }
    .navigation img {
        width: 300px;
    }
    .checkbtn 
    {
        font-size: 25px;
        font-weight: 700;
    }
    .banner-img
    {
        padding: 250px 0px 0px 0px;
    }
    .nav {
        display:none;
        position: absolute;
        background-color:#6E896A;
        right: 0;
        left: 0;
        padding: 16px 0;
        min-width: 1280px;
        height: 600px;
      }
      .nav li {
      padding:24px 0px;
      }
      .nav-lists a{
          color:#fff;
          font-size:20px;
          letter-spacing: 2px;
          font-weight: 600;
          padding-left:20px;
      }
      .nav li:hover {
         display: inline-block;
         background-color:#4c9e9e;
         transition: 0.3s ease;
       }
     
       .nav li + li {
         margin-top: 12px;
       }
     
       input[type=checkbox]:checked ~ .nav {
         display: block;
       }
     
       .checkbtn {
         display: block;
       }
       i.fa.fa-shopping-cart {
           display: none
       }
       i.fa.fa-sliders
       {
         display: none;
       }
       .last-icons{
           display: none;   
       }
       section.card-sec {
        margin-top: 24rem;
    }
    img.card-img {
        width: 200px;
    }
    .card1 h3
    {
        font-size: 40px;
        padding:50px 0px;
    }
    .card1 p {
        font-size: 26px;
        font-weight: 400;
        color: #444;
        line-height: 38px;
        
    }
   .img-content
   {
    width:50%;
   }
   .img-sec{
    flex-wrap: wrap;
   }
   .custom-price
   {
    display: block;
   }
   .prise img
   {
    background-color: #eee;
    padding-top: 100px;
    margin:0px;
    height: auto;
    padding: 20px;
    margin-bottom: -5px;
   }
   .custom-content
   {
    margin: 0px;
    padding: 100px 0px 100px 0px;
   }
   .custom-content h6
   {
    font-size: 18px;
    padding-left:25px;
   }
   .custom-content h1
   {
    font-size: 90px;
    padding-left:25px;
    padding-bottom: 40px;
   }
   .prizes 
   {
    padding-left:25px;
    padding-bottom: 60px;
   }
   .starting-form
   {
    font-size: 33px;
    padding-right: 30px;
   }
   .prize-text 
   {
    font-size: 24px;
   }
   .priseA{
    font-size: 60px;
   }
   .flower-sec
   {
    margin-top:10rem;
   }
   .fresh-flr h6
   {
    font-size: 18px;
   }
   .fresh-flr h1 
   {
    font-size: 80px;
   }
   .flower-images
   {
    flex-wrap: wrap;
   }
   .fresh-img
   {
    width:50%;
   }
   .form-group {
    display: block;
    } 
    .florist-sec
    {
        width:100%;
        padding: 115px 18px 165px 98px;
    }
    .florist-content h6
    {
        font-size: 18px;
        padding-bottom: 20px;
    }
    .florist-content h1
    {
        font-size: 80px;
    }
    .florist-text h4
    {
        font-size: 32px;
        color: #444;
    }
    .florist-content p
    {
    font-size: 23px;
    padding: 10px 0px 100px 0px;
    line-height: 32px;
    letter-spacing: 1px;
    }
    .form-sec
    {
        width:100%;
        height:auto;
    }
    .form-sec h6
    {
        font-size: 18px;
        letter-spacing: 3px;
        padding-top: 100px;
    }
    .form-sec h1
    {
        font-size: 50px;
    }
    ::placeholder
    {
        font-size: 26px;
        letter-spacing: 1px;
    }
    textarea#message
    {
        font-size: 26px;
        letter-spacing: 1px;
    }
    .small-form input
    {
        padding: 24px 0px;
        margin-bottom: 40px;
    }
    input[type="submit"]
    {
        font-size: 18px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .spring-super
    {
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: inherit;
    }
    .offers
    {
    margin: 114px;
    height:450px;
    width:40%;
    }
    .offers h2
    {
        font-size: 60px;
        padding-bottom: 20px;
    }
    .offers p
    {
        font-size: 24px;
        padding-bottom: 50px;
    }
    .offers a
    {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .creations
    {
        width:100%;
        height: auto;
    }
    .creations h6
    {
        font-size: 16px;
    }
    .creations h1
    {
        font-size: 70px;
        padding-bottom: 30px;
    }
    .img img {
        flex-wrap: wrap;
        width:32%;
    }
    .bouquits
    {
        width:100%;
        height:600px;
        margin-top:12rem;
    }
    .perfect
    {
        height:600px;
    }
    .logoes img
    {
        width:24%;
        padding:15px;
        padding-top:8rem;
        padding-bottom: 8rem;
    }
    .footer-sec
    {
        width:100%;
    }
  
}
@media (max-width: 768px) {  
    .navigation
    {
        width:100%;
        height:70px;
        padding: 0px 10px;
    }
    .checkbtn
{
    user-select: none;
    background: #6E896A;
    padding: 8px;
    border-radius: 100%;
    margin: 23px;
    float: right;
    display: block;
    font-size: 25px;
}
    .nav{
            display: none;
            position: absolute;
            background-color: #6E896A;
            right: 0;
            left: 0;
            margin-top:80px;
            height: 280px;
        }
    input[type=checkbox]:checked ~ .nav {
        display: block;
    }
    .nav-lists a{
        color:#fff;
        font-size:12px;
        letter-spacing: 2px;
        font-weight: 600;
        padding-left:20px;
        
    }
    .nav li {
        padding:8px 0px;
        }
         i.fa.fa-shopping-cart {
             display: none
         }
        i.fa.fa-navicon 
         {
           display: none;
         }
         .last-icons{
             display: none;   
         }
    body{
        width:768px;
        height:auto;
        margin:auto;
        background-color: #fff;
    }
          section.banner-img h1 {
            font-size: 96px;
        }
        .banner{
            height:400px;
        }
        .banner-img 
        {
            height:480px;
        }
        .card-sec
        {
            flex-direction: column;
            margin-top: 24rem;
        }
        img.card-img {
            width: 35%;
        }
        .card1 h3 {
            font-size: 40px;
            padding:50px 0px;
        }
        .img-sec
        {
          flex-direction: column;
        }
        .card1 p {
            font-size: 18px;
            line-height: 40px;
            color:#444;
        }
        .card1 {
            margin-top: 50px;
        }
        section.img-sec {
            margin-top: 16rem;
        }
        .img-content {
            padding-bottom: 5rem;
        }
        .img-content h6
        {
            font-size: 24px;
        }
        .img-content h3
        {
            font-size: 24px;
        }
        .custom-price
        {
            display: block;
            margin:0px;
            background: #eee;
        }
        .prise img
        {
            padding:50px;
        }
        .custom-content h6
        {
         font-size: 13px;
        text-align: center;
        }
        .custom-content h1
        {
         font-size: 36px;
         padding-bottom: 40px;
         text-align: center;
        }
        .starting-form
        {
            font-size: 24px;
            flex-direction: column;
            text-align: center;
        }
        .priseA
        {
            font-size: 40px;
        }
        .prize-text
        {
            font-size: 16px;
            text-align: center;
        }
        .fresh-flr h6
        {
            font-size: 12px;
        }
        .fresh-flr h1
        {
            font-size: 45px;
        }
        .flower-images
        {
            flex-direction: column;
        }
        .fresh-img h3
        {
            font-size: 30px;
        }
        .detail-btn
        {
            font-size: 10px;
        }
        .form-group
        {
            display: block;
        }
        .florist-sec
        {
            width:100%;
 
        }
        .flower-sec{
         margin-bottom: 16rem;
         }
         .florist-content h6
         {
            font-size: 12px;
            text-align: center;
         }
         .florist-content h1
         {
            font-size: 70px;
            text-align: center;
         }
         .florist-text
         {
            flex-direction: column;
            border-bottom: 2px solid #CCCCCC;
            padding: 15px 0px;
         }
         .florist-text h4
         {
            font-size: 20px;
            text-align: center;
         }
         .florist-content p
         {
            font-size: 15px;
            text-align: center;
            line-height: 22px;
            padding-bottom: 5rem;
         }
         .form-sec
         {
            width:100%;
            height:100%;
         }
         .form-sec h6
         {
            font-size: 12px;
         }
         .form-sec h1
         {
            font-size: 28px;
            padding-bottom: 2rem;
         }
         ::placeholder
         {
            font-size:20px;
            letter-spacing: 1px;
         }
         textarea#message
         {
             font-size: 20px;
             letter-spacing: 1px;
         }
         .small-form input
         {
             padding: 25px 0px;
             margin-bottom: 40px;
         }
         input[type="submit"]
         {
             font-size:15px;
             padding-top: 60px;
             padding-bottom: 100px;
         }
         .florist-sec
         {
            padding: 115px 18px 137px 25px;
         }
         .spring-super
         {
            width:100%;
            height:360px;
         }
         .offers h2
         {
            font-size: 50px;
         }
         .offers{
            margin: 75px 50px 26px 25px;
            height: 213px;
            width: 87%;

         }
         .creations
         {
             width:100%;
             height: auto;
         }
         .img img {
            width: 100%;
        }
        .fresh-img img
        {
            width:80%;
        }
        
.creations h6
{
    font-size: 12px;
}
.creations h1
{
    font-size: 37px;
}
.bouquits
{
    width:100%;
    height:900px;
    margin-top:12rem;
}
.perfect
{
    padding: 200px 14px;
    
}
.logoes img
{
    width:50%
}
.footer-sec
{
    width:100%;
}
.footer-list
{
    flex-direction: column;
    text-align: center;
}
.footer-sec h2 
{
    font-size: 40px;
}
.footer-sec p
{
    font-size: 24px;
}
.footer-sec2 ul
{
    font-size: 24px;
}
 }

      